body {
  background:rgb(11, 178, 238);
  font-family: Arial, sans-serif;
}

.joinChat {
  width: 300px;
  margin: 120px auto;
  background: rgb(72, 255, 0);
  box-shadow: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.joinChat input {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
}

.chatWindow {
  width: 350px;
  margin: 50px auto;
  background: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

.chatBody {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  background: #fff;
}

.myMsg {
  text-align: right;
  background: #00c8ff;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.otherMsg {
  text-align: left;
  background: #4dff00;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.time {
  font-size: 10px;
  color: gray;
}

.chatFooter {
  display: flex;
}

.chatFooter input {
  flex: 1;
  padding: 8px;
}

.chatFooter button {
  padding: 8px;
}
